export(pokeapi_get_move)
export(pokeapi_get_pokemon)
export(pokeapi_list_pokemon)
export(pokeapi_set_base_url)
export(call_gemini)
export(get_pokemon_id)
export(run_team_console)
export(run_app)
importFrom(httr, GET, POST, content, http_error, status_code, timeout, user_agent)
importFrom(jsonlite, fromJSON)
importFrom(utils, tail)
importFrom(shiny, shinyApp, runApp)