export(pokeapi_get_move)
export(pokeapi_get_pokemon)
export(pokeapi_list_pokemon)
export(pokeapi_set_base_url)
export(call_gemini)
export(get_pokemon_id)
importFrom(httr,GET)
importFrom(httr,POST)
importFrom(httr,content)
importFrom(httr,http_error)
importFrom(httr,status_code)
importFrom(httr,timeout)
importFrom(httr,user_agent)
importFrom(jsonlite,fromJSON)
importFrom(utils,tail)
